<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.megacubo.pip">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <activity android:supportsPictureInPicture="true"
                  android:launchMode="singleTask"
                  android:resizeableActivity="true"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" />
    </application>
</manifest>